<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/_articles.css">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/_articles.css">
</head>
<body>
    <main class="main">
        <div class="container">
            <div class="learn__wrapper">
                <div class="title_wrapper">
                    <h3>What will you learn?</h3>

                    <!-- linie -->
                </div>
                
                <div class="wrapper__left__right">
                    <div class="learn__items">
                        <div class="learn__item">
                            <section>

                            </section>
                            <p class="learn__item_text">
                                Use HDFS & Map <br> Reduce for storing & <br> analyzing data at scale.
                            </p>
                        </div>
                        <div class="learn_item">
                            <section>
                                
                            </section>
                            <p class="learn__item_text">
                                Consume streaming <br> data using Spark <br> Streaming, Flink, and <br> Storm.
                            </p>
                        </div>
                        <div class="learn_item">
                            <section>
                                
                            </section>
                            <p class="learn__item_text">
                                Choose an <br> appropriate data <br> storage technology <br> for your application
                            </p>
                        </div>
                        <div class="learn_item">
                            <section>
                                
                            </section>
                            <p class="learn__item_text">
                                Analyze non- <br> relational data using <br> HBase, Cassandra, <br> and MongoDB.
                            </p>
                        </div>
                    </div>
                    <div class="learn_img">
                        <img src="../assets/article_icons/Frame.png" alt="">
                    </div>
                </div>
                
            </div>

            <div class="articles__wrapper">
                <h3>Articles & Resources</h3>
                <!-- Linie -->
                <div class="people__wrapper">
                    <div class="people__item__1">
                        <img src="../assets/article_icons/IMAGE (5).png" alt="article__info">
                        <h6>Significant reading has more <br> info number</h6>
                        <p class="article__info">Override the digital divide with <br>additional clickthroughs from DevOps <br>for real-time schemas.</p>
                        <p class="date">October 6, 2021</p>
                    </div>
                    <div class="people__item__2">
                        <img src="../assets/article_icons/IMAGE (6).png" alt="article__info">
                        <h6>Many variations of pass <br>majority have suffered</h6>
                        <p class="article__info">Capitalize on low-hanging fruit to <br> identify a ballpark value-added activity <br> to beta test.</p>
                        <p class="date">October 6, 2021</p>
                    </div>
                    <div class="people__item__3">
                        <img src="../assets/article_icons/IMAGE (7).png" alt="article__info">
                        <h6>Words which don’t look even <br> slightly believable</h6>
                        <p class="article__info">Podcasting operational change <br> management inside of workflows <br> to establish a framework.</p>
                        <p class="date">October 6, 2021</p>
                    </div>
                </div>
                
            </div>
        </div>
    </main>
</body>
</html>