<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/_articles.css">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/_articles.css">
</head>
<body>
    <div class="learn_wrapper">
        <h5>What will you learn?</h5>
        <div class="numbers">
            <div class="01">

            </div>
            <div class="02">

            </div>
            <div class="03">

            </div>
            <div class="04">

            </div>
        </div>
        <div class="learn_img">
            <img src="../assets/article_icons/Frame.png" alt="">
        </div>
    </div>
    <div class="articles_wrapper">
        <h5>Articles & Resources</h5>
        <people class="wrapper">
            
        </people>
    </div>
</body>
</html>