<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/_author.css">
</head>

<body>
    <div class="book_wrapper">
        <h3>The Author's Book</h3>
        <div class="books">
            <div class="atomic_warapper">
                <div class="atomic_img">
                    <img src="../assets/author_icons/atomic.png" alt="">
                </div>
                <div class="atomic_text">

                </div>
            </div>
            <div class="darklight_wrapper">
                <div class="darklight_img">
                    <img src="../assets/author_icons/the dark light.png" alt="">
                </div>
                <div class="darklight_text">

                </div>
            </div>
        </div>
    </div>
    <div class="author_wrapper">
        <div class="author_img">
            <img src="../assets/author_icons/Opa.png" alt="">
        </div>
        <div class="author_text">
            <h4>About The Autor</h4>
            <p>We believe that bookstores are essential to a healthy culture. They’re where authors can connect with
                readers, where we discover new writers, where children get hooked on the thrill of reading that can last
                a lifetime.</p>
            <div class="numbers">
                <div class="books">

                </div>
                <div class="users">

                </div>
                <div class="bestseller">

                </div>
            </div>
            <div class="qr_wrapper">
                <div class="qr">
                    <img src="../assets/author_icons/QR.png" alt="">
                    <p>
                        
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>