<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/_nav.css">
</head>
<body>
    <div class="wrapper">
        <div class="social">
            <div class="pages">
              <a href=""><img src="../assets/nav_icons/pages.png" alt=""></a>
              <a href="">Pages</a>
            </div>
            <div class="social_icons">
                <a href=""><img src="../assets/nav_icons/facebook.png" alt=""></a>
                <a href=""><img src="../assets/nav_icons/twitter.png" alt=""></a>
                <a href=""><img src="../assets/nav_icons/Linkedin.png" alt=""></a>
            </div>
        </div>
        <div class="nav">
            <a href="">Home</a>
            <a href="">Author</a>
            <a href="">Companies</a>
            <a href="">Articles</a>
        </div>
        <div class="order">
            <button>Order Today</button>
        </div>
    </div>
</body>
</html>