* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    --dark-blue: #1B3764;
    --accent: #FFCA42;
    --white: #fff;
    --black: #000;
    
    --transition: .4s ease-in;
}

.container{
    max-width: 1440px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
h3{
font-family: Cardo;
font-size: 42px;
font-weight: 400;
line-height: 50px;
letter-spacing: 0em;
text-align: center;
color: var(--dark-blue);
}
.companies{
    display: flex;
    justify-content: center;
    gap: 16px;
}
h6{
    font-family: Cardo;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--dark-blue);
}
.company__item{
font-family: Inter;
font-size: 19px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0em;
text-align: center;
color: #969AA0;
}
.get__book__wrapper{
display: flex;
justify-content: center;
background-color: var(--dark-blue);
}
.get__book{
    font-family: Cardo;
    font-size: 45px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
color: var(--white);    
}
.get__book__text{
    font-family: Inter;
    font-size: 19px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #B4C7E7;
}
