/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    --dark-blue: #1B3764;
    --accent: #FFCA42;
    --white: #fff;
    --black: #000;
    
    --transition: .4s ease-in;
    }
    
    ul,
    li {
        list-style: none;
    } */